
#Editor {
    width : 90%;
    top : 130px;
    position : relative;
    overflow-y : scroll;
    min-height : calc(85% - 130px);
    height : fit-content;
}

#Editor.Editor {
    justify-content : start;
    flex-direction : column;
    gap : 50px;
}

#Editor.Editor > input {
    background-color : var(--C);
    box-shadow : #0001 1px 1px 1px 1px;
    border : none;
    width : 400px;
    color : var(--B);
}


#Editor.Editor .Spices {
    grid-template-columns : 40% 20% 40%;
    grid-template-rows : 40px auto;
    display : grid;
    width : 100%;

}

#Editor.Editor .Spices > .Label {
    pointer-events : auto;
    font-weight : bold;
    filter : drop-shadow( 0 0 3px var(--C) );
    color : var(--B);
    padding-top: 14px;
}

#Editor.Editor .Spices > .List {
    flex-direction : column;
    border-radius : 18px;
    display : flex;
    padding : 4px;
    border : 3px solid var(--C);
    width : 220px;
    gap : 4px;

    margin : calc(calc(100% - 232px) * .5);
    margin-bottom : 0;
    margin-top : 20px;
}

#Editor.Editor .Spices > .Amounts {
    grid-template-columns : 100%;
    grid-template-rows : repeat(16,30px);
    display : grid;
    padding : 4px;
    gap : 4px;

    margin : calc(calc(100% - 88px) * .5);
    margin-bottom : 0;
    margin-top : 20px;
}

#Editor.Editor .Spices > .Amounts > * {
    background-color : var(--C);
    box-shadow : #0001 1px 1px 1px 1px;
    font-size : 16px;
    border : none;
    color : var(--B);
}

#Editor.Editor .Spices > .Amounts > *.Empty {
    visibility : hidden;
}

#Editor.Editor .Spices > .List:last-child {
    grid-template-columns : 100%;
    grid-template-rows : repeat(16,30px);
    display : grid;
}

#Editor.Editor .Spices > .List > * {
    justify-content : center;
    pointer-events : auto;
    border-radius : 12px;
    align-items : center;
    white-space : nowrap;
    font-weight : bold;
    box-shadow : #0001 1px 1px 1px 1px;
    font-size : 14px;
    display : flex;
    cursor : pointer;
    height : 30px;
    width : 100%;
}

#Editor.Editor .Spices > .List > .Empty {
    opacity : 0.6;
    cursor : auto;
}

#Editor.Editor .Spices > .List > .Empty:hover {
    filter : none;
}
