
#Editor {
    justify-content : center;
    align-items : center;
    display : flex;
    padding : 5%;
    height : 100%;
}

html {
    overflow-x : hidden;
    overflow-y : scroll;
}

*::-webkit-scrollbar {
    display: none;
}
