

#Editor.Recipes {
    justify-content : flex-start;
    flex-direction : column;
    display : flex;
    gap : 40px;
}

#Storage {
    background-color : var(--C);
    border-radius : 12px;
    box-shadow : #0003 1px 1px 1px 1px;
    padding : 2px 4px;
    display : flex;
    border : var(--B) solid 4px;
    height : fit-content;
    width : calc(80% - 4px);
}

#Storage > * {
    pointer-events : auto;
    border-radius : 8px;
    filter : drop-shadow(0 0 1px #0003);
    height : 20px;
    margin : 1px 2px;
    cursor : pointer;
    transition-duration: .18s;
}

#Storage > *:nth-child(odd){
    background-color: var(--B);
}

#Storage > *:nth-child(even){
    background-color: var(--A);
}

#Storage > *:hover {
    background-color: white;
}

#Recipes {
    justify-content : center;
    flex-wrap : wrap;
    display : flex;
    width : 100%;
    gap : 16px;
}

#Recipes > * {
    background-color : rgba(183, 86, 126, 0.39);
    flex-direction : column;
    border-radius : 16px;
    box-shadow : #0001 1px 1px 1px 1px;
    padding : 24px 16px;
    display : flex;
    width : 240px;
    gap : 16px;
    pointer-events : auto;
    transition-duration: .4s;
    cursor : pointer;
}

#Recipes > *:hover {
    border-radius: 24px;
    background-color : rgba(183, 86, 126, .6);
}

#Recipes > .Selected {
    border-radius: 24px;
    background-color : rgba(183, 86, 126, .8);
}



#Recipes > * > h3 {
    color: white;
    border: none;
    background: transparent;
    filter: drop-shadow(2px 2px #0003);
    font-size: 24px;
}


#Recipes .Options {
    justify-content : center;
    display : flex;
    height : fit-content;
    width : 100%;
    gap : 24px;
}

#Recipes .Options > * {
    height : 42px;
    width : 42px;
}
