

#Upload {
    position : fixed;
    height : 60px;
    cursor : pointer;
    width : 60px;
    right : 0;
    top : 0;
    z-index : 201;
}

#Upload:hover > * {
    filter : contrast(1.1) brightness(1.1);
}

#Upload > * {
    width : 100%;
}
